h1 {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(184, 181, 181);
}

#balls {
    justify-content: center;
}

#drawing {
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding: 15px;
}

.ball {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 50% 50%, #fff, #888);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.drawn-now {
    width: 350px;
    height: 350px;
    font-size: 220px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

button {
    font-size: 35px;
    padding: 40px;
    background-color: black;
    color: white;
    border: solid 1px white;
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}